.App{
    text-align: center;
}


.taskBg{
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;

}

.taskBg div{
    display: flex;
    align-items: center;
}

.taskNumber{
    background-color: #999;
    border-color: #999; 
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.taskBg .done .taskText{
    text-decoration: line-through;
    opacity: 0.3;
    flex: 1;

}

.iconswrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
   
}

.iconswrap span{
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: #00ff89;
}

.iconswrap span:hover{
    color: yellow;
}



